@use './utils' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form {
    @apply flex flex-col items-center justify-center gap-5 p-8 bg-cDkWhite  rounded-t-md md:rounded w-full shadow-md md:max-w-2xl md:max-h-[650px] md:my-0 md:mx-auto md:absolute md:top-28 md:right-0 md:left-0 md:z-10;
  }

  .header-li {
    @apply px-16 py-2 w-full border-b-1 border-cDkWhite flex justify-start items-center gap-4 hover:text-cGreen;
  }

  .download-btn {
    @apply p-2 bg-cGreen text-cWhite font-bold rounded-md shadow-lg;
  }

  .btn {
    @apply p-2 bg-cGreen text-cWhite font-bold rounded-md shadow-lg cursor-pointer hover:bg-cCian transition;
  }

  .form-input {
    @apply p-2 rounded-md outline-none mt-2;
  }

  .form-label {
    @apply flex flex-col  w-full;
  }

  .error {
    @apply mt-4 text-[#721c24] bg-[#f8d7da] border-1 border-[#f5c6cb] p-2 rounded text-center;
  }
  .success {
    @apply mt-4 text-[#24492c] bg-[#99fcaf] border-1 border-[#537c5c] p-2 rounded text-center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: -apple-system, 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

.heightCalc {
  min-height: calc(100vh - 80px);
}

.heightCalc-noscroll {
  min-height: calc(100vh - 80px);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #070707;
  border-radius: 1rem;
}

.react-tabs {
  &__tab-list {
    border-bottom: none !important;
  }

  &__tab {
    display: inline-block;
    border: none;
    border-bottom: 4px solid transparent;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 1rem 2rem !important;
    cursor: pointer;
    color: #7a7a7a !important;

    &--selected {
      border-color: #55fddc !important;
      font-weight: bold !important;
      color: #55fddc !important;
    }

    &:focus {
      &:after {
        height: 15px !important;
        background: transparent !important;
      }
    }
  }
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #55fddc;
}
